# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.tfstate.lock.info

# Ansible
*.retry

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Keys and Secrets
*.pem
*.key
*.pub
secrets.yml
.env

# AI
.ai/

# Kubernetes Secrets
kubeconfig.kilo/
kubeconfig
.kilo/
